  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body header {
 background: #132b4f;
}
.up {
  margin-top: 80px;
}

.hero {
  background:linear-gradient(to bottom,rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)), url('../img/gembyung.jpeg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.rowX .right h2 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}


.row h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}
.hr {
    margin-top: 33px;
    width: 100px;
    height: 4px;
    background: #132b4f;
    border: none;
    border-radius: 5px;
}

.rowX {
  width: 100%;
  height:300px;
  margin-top: 40px;
  margin-bottom: 70px;
}
.left {
  padding: 30px;
}
.left .img {
  width: 100%;
  height: 100%;
  transition: .5s;
}

.left .img:hover {
  opacity: .8;
  transform:scale(1.02);
}


.i1 {
  background: url('../img/TariTopeng.jpeg'); 
  background-position: center;
  background-size: cover;
}
.i2 {
  background: url('../img/kirab.jpeg'); 
  background-position: center;
  background-size: cover;
}
.i3 {
  background: url('../img/sintren.jpeg'); 
  background-position: center;
  background-size: cover;
}
.i4 {
  background: url('../img/gembyung.jpeg'); 
  background-position: center;
  background-size: cover;
}

.left , .right {
  width: 48%;
  height: 100%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  
}
.right h2 {
  font-size: 1.5rem;
  margin-top: 30px;
}
.right p {
  margin-top: 20px;
}
.right a {
  display: inline-block;
  padding: 5px 30px;
  border-radius: 100px;
  background: #132d4e;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}
.kanan {
  float: right;
}



.clear {
  clear: both;
}




@media screen and (max-width: 760px) {
  
 .left , .right {
    width: 100%;
  }
  .overlay {
    display: block;
    width: 80%;
  }
  .right h2 {
    margin-top: 0;
  }
}