body header {
    background: #132b4f;
}
.up {
  margin-top: 80px;
}

.hero {
  background: url('../img/Trusmi.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}


.row1 h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}
.hr {
    margin-top: 20px;
    width: 100px;
    height: 4px;
    background: #132b4f;
    border: none;
    border-radius: 5px;

}

.row1 {
    padding:  20px 0;
}
.boxs {
    padding: 50px 40px;
    margin: auto;
}
.box {
    width: 350px;
    height: 370px;
    display: inline-block;
    margin: 20px;
    transition: .4s;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: #222;
    box-shadow: 0 0 3px #132b4f;
}
.box:hover {
    box-shadow: 0 0 10px #132b4f;
    opacity: .7;
}
.box .b1 {
    height: 60%;
    background-position: center;
    background-size: cover;
}
.box .b2 {
    padding: 0 10px;
    position: relative;
}
.box .b2 span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}
.box .b2 span.selengkapnya {
    font-weight: normal;
    background: #132b4f;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px 0 10px 0;
}
.boxs .box .p1 {
    background: url('../img/g6.png');
background-position: center;
    background-size: cover;
}

.boxs .box .p2 {
    background: url('../img/plangon.jpg');
background-position: center;
    background-size: cover;
}

.boxs .box .p3 {
    background: url('../img/water-boom.jpg');
    background-position: center;
    background-size: cover;
}

.boxs .box .p4 {
    background: url('../img/sedong.jpg');
    background-position: center;
    background-size: cover;
}

.boxs .box .p5 {
    background: url('../img/g2.jpg');
    background-position: center;
    background-size: cover;
  
}

.boxs .box .p6 {
    background: url('../img/g1.jpg');
    background-position: center;
    background-size: cover;
}

.boxs .box .p7 {
    background: url('../img/Wanawisata-Ciwaringin.jpg');
    background-position: center;
    background-size: cover;
}

.boxs .box .p8 {
    background: url('../img/cikalahang-cirebon.jpg');
    background-position: center;
    background-size: cover;
}